body {
    font-family: Arial, sans-serif;
    background-color: #15202b; /* Darker background color */
    color: #ffffff; /* Text color */
}

.container {
    max-width: 600px;
    margin: 50px auto; /* Centering the container vertically */
    padding: 20px;
    text-align: center;
    background-color: #1f2a36; /* Container background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

h1 {
    color: #55a0d9; /* Header text color */
    margin-bottom: 20px; /* Add some space below the header */
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 5px;
    width: 80%; /* Increase input width */
    border: none;
    border-radius: 5px; /* Rounded corners for inputs */
    background-color: #283d4a; /* Input background color */
    color: #ffffff; /* Input text color */
}

button {
    padding: 10px 20px;
    background-color: #55a0d9; /* Button background color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
    background-color: #3a85bb; /* Darker button color on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #1f2a36; /* List item background color */
    margin-bottom: 5px;
    border-radius: 5px; /* Rounded corners for list items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        margin: 20px auto;
        padding: 10px;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
    }
}
